/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18.nov.2015, 19:08:48
    Author     : Idar
*/

#frontPage .table
{
    width: 950px;
    min-height: 400px;
}
#rightColumn
{   
    padding: 3px;
    width: 250px;
    border-left: 1px solid #ccc;
}

.rightBoxTitle
{
    background-color: #ccc;
    padding: 3px;
}
.rightBoxTitle h4
{
    margin: 0;
    padding: 0;
}

.rightBox
{   
    width: 224px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
    
    margin-bottom: 5px;
}

.rightBox ul
{
    padding: 0;
    margin: 0;
}
.rightBoxContent
{
    padding: 4px;
}
